shodan
beautifulsoup4
censys
scapy
python-nmap
dnspython
paramiko
jwt
socks
pysocks
pyfiglet
whois
pyzipper
py7zr
openpyxl
pandas
pyOpenSSL
requests
datetime
dns.resolver
cryptography
colorama
concurrent.futures
subprocess
tldextract
socket
